<!-- _includes/resume/freelance.liquid -->
{% for item in site.data.resume.freelance %}
  <div class="resume-item">
    <h4>{{ item.position }} at <a href="{{ item.url }}" target="_blank">{{ item.organization }}</a></h4>
    <p class="resume-item-location">{{ item.location }}</p>
    <p class="resume-item-dates">{{ item.startDate }} - {{ item.endDate }}</p>
    <p class="resume-item-summary">{{ item.summary }}</p>
    <ul class="resume-item-highlights">
      {% for highlight in item.highlights %}
        <li>{{ highlight }}</li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <p>No freelance data found.</p>
{% endfor %}